@import "./variable.scss";
@import "./blocks/header-nav.scss";
@import "./blocks/attract.scss";
@import "./blocks/service.scss";
@import "./blocks/title-wrapper.scss";
@import "./blocks/works.scss";
@import "./blocks/team.scss";
@import "./blocks/reviews.scss";
@import "./blocks/contucts.scss";
@import "./blocks/footer-upper.scss";
@import "./blocks/footer-down.scss";