* {
    box-sizing: border-box;
}

.visually-hidden {
    display: none;
}

body {
    font-family: 'Open Sans', serif;
    font-size: 20px;
    width: 100%;
    margin: 0;
    margin: auto;
    background-color: transparent;
}