.contucts {
    display: flex;
    width: 100%;
    height: 300px;
}

.work__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.contucts__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.contucts__button {
    width: 100%;
    height: 100%;
    border: none;
    background-color: #70BD59;
}

.work__button {
    width: 100%;
    height: 100%;
    border: none;
    background-color: #FBFBFB;
}

.work__title {
    position: relative;

    & p {
        font-family: 'Oswald';
        font-weight: 400;
        font-size: 24px;
        line-height: 36px;
        letter-spacing: 2.6px;
        padding: 18px;
        margin: 0;
        color: #373737;
    }

    &::before {
        content: '';
        position: absolute;
        background-image: url(../img/work-item.svg);
        background-repeat: no-repeat;
        width: 35px;
        height: 35px;
        top: -55%;
        height: 45%;
        z-index: 2;
    }
}

.work__text {
    position: relative;
    padding-bottom: 20px;

    & p {
        font-family: 'OpenSans';
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 1.5px;
        opacity: 0.8;
        color: #373737;
        margin: 0;
    }  

    &::after {
        content: '';
        position: absolute;
        width: 9px;
        height: 9px;
        bottom: 0;
        background-image: url(../img/arrow-contucts.svg);
    }

} 


.contucts__title {
    position: relative;

    & p {
        font-family: 'Oswald';
        font-weight: 400;
        font-size: 24px;
        line-height: 36px;
        letter-spacing: 2.6px;
        padding: 15px;
        margin: 0;
        color: #FFFFFF;
    }

    &::before {
        content: '';
        position: absolute;
        background-image: url(../img/mail-contucts.svg);
        background-repeat: no-repeat;
        width: 35px;
        height: 35px;
        top: -55%;
        left: 48%;
        z-index: 2;
    }

}

.contucts__text {
    position: relative;
    padding-bottom: 20px;

    & p {
        font-family: 'OpenSans';
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 1.5px;
        color: #FFFFFF;
        opacity: 0.8;
        margin: 0;
    }

    &::after {
        content: '';
        position: absolute;
        width: 9px;
        height: 9px;
        bottom: 0;
        background-image: url(../img/arrow-contucts.svg);
    }

}