.footer-upper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 280px;
    background-color: #2E2E2E;
}

.footer-upper__info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-upper__social {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.place, .mail {
    font-family: 'Oswald';
    font-weight: 300;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 0.8px;
    color: #FFFFFF;
    opacity: 0.5;
    margin: 0;
}

.social__list {
    display: flex;
    padding: 0;
    list-style-type: none;
}

.social__item {
    padding-right: 21px;
}