header {
    position: relative;
}

header::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 904px;
    background-image: url(../img/agency-back.png);
    background-repeat: no-repeat;
    z-index: -1;
}

.nav-wrapper {
    display: flex;
    justify-content: flex-end;
    padding: 50px;
}

.nav__link {
    position: relative;
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 1.94px;
    margin-right: 58px;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
}

.nav__link::before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    border-bottom: 2px solid #4CAF50;
    width: 18px;
    height: 10px;
}

.nav__link--first {
    position: relative;
}

.nav__link--first::before {
    position: absolute;
    content: '';
    right: 0;
    bottom: 0;
    border-bottom: 2px solid #4CAF50;
    width: 55px;
    height: 10px;
}

.nav__list {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav__item {
    margin: 0;
    padding: 0;
}