.reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 9%;
}

.reviews__content {
    position: relative;
    display: flex;
    justify-content: center;
    width: 660px;
    padding-bottom: 35px;

    & p {
        font-family: 'OpenSans';
        font-size: 14px;
        line-height: 31px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.9px;
        color: #373737;
    }

    &::before {
        content: '';
        position: absolute;
        background-image: url(../img/99.png);
        width: 20px;
        height: 20px;
        top: 75%;
        opacity: 0.34;
    }

}

.reviews__wrapper {
    display: flex;
    align-items: center;
}

.reviews__name {
    position: relative;
    padding-right: 7px;

    & p {
        font-family: 'Oswald';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        letter-spacing: 1.1px;
        color: #373737;
    }

}

.reviews__position {

    & p {
        font-family: 'Oswald';
        font-weight: 300;
        font-size: 14px;
        line-height: 21px;
        letter-spacing: 0.9px;
        color: #B8B8B8;
    }
} 

.reviews__list {
    position: relative;
    display: flex;
    list-style-type: none;
    padding: 0;

    &::before {
        content: '';
        position: absolute;
        bottom: -20px;
        left: -55%;
        width: 200%;
        height: 1px;
        border-bottom: 1px solid #D8D8D8;
        opacity: 0.5;
    }

}

.reviews__item {
    position: relative;
    padding-right: 20px; 

    &:last-child {
        opacity: 0.2;
    }

}