.service {
    width: 100%;
    height: 690px;
    margin: 100px auto;
    padding: 9%;
    background-color: #FBFBFB;
}

.service__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.service__item {
    width: 373px;
    height: 260px;
    background-color: #FFFFFF; 
}

.service__item--active {
    position: relative;
}

.service__item--active::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    border-bottom: 3px solid #70BF73;
}

.item__container {
    position: relative;
    padding: 30px 30px 31px 54px;
}

.service__title {
    position: relative;
    padding-bottom: 85px;
}

.service__title::before {
    content: '';
    position: absolute;
    width: 45px;
    height: 2px;
    bottom: 75px;
    border-bottom: 2px solid #252525;
}

.service__title p {
    font-family: 'Oswald';
    font-weight: 700;
    font-size: 48px;
    line-height: 71px;
    letter-spacing: 3.072px;
    margin: 0;
    color: #252525;
}

.item__title {
    position: relative;
    padding-bottom: 1px;
}

.item__title::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 35px;
    height: 2px;
    border-bottom: 2px solid #252525;
}

.item__title p {
    font-family: 'Oswald';
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1.28px;
    text-transform: uppercase;
    color: #252525;
}

.item__branding {
    position: relative;
}

.item__branding::after {
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    top: -20px;
    right: 0;
    background-image: url(../img/branding.svg);
    background-repeat: no-repeat;
    z-index: 4;
    opacity: 0.2;
}

.item__design {
    position: relative;
}

.item__design::after {
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    top: -20px;
    right: 0;
    background-image: url(../img/design.svg);
    background-repeat: no-repeat;
    z-index: 4;
}

.item__development {
    position: relative;
}

.item__development::after {
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    top: -20px;
    right: 0;
    background-image: url(../img/development.svg);
    background-repeat: no-repeat;
    z-index: 4;
    opacity: 0.2;
}

.item__text p{
    font-family: 'OpenSans';
    font-size: 12px;
    line-height: 25px;
    letter-spacing: 1.008px;
    color: #777777;
}

.item__more p{
    font-family: 'Oswald';
    font-weight: 300;
    font-size: 10px;
    line-height: 15px;
    letter-spacing: 0.64px;
    text-transform: uppercase;
    color: #252525;
    opacity: 0.5;
}